.page-block-btns{
	margin-bottom: 20px;
}
.tagsinput {
	min-height: 100% !important; 
	height: 100% !important;
}
.not-available{
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

table .post-link{
	color: inherit;
	font-weight: bold;
}

table .action-buttons .delete-form{
	display: inline-block;
}

.image-placeholder{
	width: 150px;
	height: 150px;
	background-color: #ccc;
	border: 1px solid #C3B7B7;
}
.post-feature-image-container{ }
.post-feature-image-container .btn { margin-top: 10px; }
.map_canvas {
    width: 100%;
    height: 400px;
    margin: 10px 20px 10px 0;
}
.form-group em { margin-top: 5px; display: block;}
.category-list .form-group { margin-bottom: 0; }
.category-list { height: 170px;overflow: overlay;margin-bottom: 30px; }