.page-block-btns{
	margin-bottom: 20px;
}
.tagsinput {
	min-height: 100% !important; 
	height: 100% !important;
}
.not-available{
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

table .post-link{
	color: inherit;
	font-weight: bold;
}

table .action-buttons .delete-form{
	display: inline-block;
}

.image-placeholder{
	width: 150px;
	height: 150px;
	background-color: #ccc;
	border: 1px solid #C3B7B7;
}
.post-feature-image-container{ }
.post-feature-image-container .btn { margin-top: 10px; }